@{
    ViewData["Title"] = "FTL FREIGHT SHIPPING";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/img6.jpg" alt="FTL Freight" />
<p>
    Full Truckload shipping is one of the core competencies at LowFreightRate.ca. If you are looking to transport a shipment that requires the services of an entire semi-trailer at the lowest shipping rate, we are your number one choice.
    Whether you need a standard 48ft or 53ft trailer, our FTL shipping services can help you take care of any high volume, high capacity shipping endeavour. Our FTL trucking services combine  specialized equipment designed to carry heavy and massive cargo with experts in logistics support for shipments of bigger sizes and scope.
   
</p>

<p>
    <a class="btn btn-default" href="~/Quote">
        Request a Quote
    </a>
</p>