@{
    ViewData["Title"] = "LTL FREIGHT SHIPPING";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/img4.jpg" alt="LTL Freight" />
<p>
    When you need item(s) shipped or transported that are too large to take to a post office, LowFreightRate.ca offers Less than Truckload (LTL) shipping services. At LowFreightRate.ca, we make it easy to move bulky and large items efficiently and economically across North America. Less than Truckload shipments are for smaller shipments that do not require full 48ft or 53ft trailer space. This service is ideal for moving pallets or multiple shipments.

    We provide you with the convenience as a single source provider for all of your LTL domestic and cross-border freight transports within Canada and the U.S. making us one of the leading and reputable names in the freight space. LowFreightRate.ca is powered by a wealth of experience and knowledgeable staff who are able to meet all your transport needs as well as provide you with unmatched customer support and smart logistics solutions.
   
</p>

<p>
    <a class="btn btn-default" href="~/Quote">
        Request a Quote
    </a>
</p>