@{
    ViewData["Title"] = "OCEAN FREIGHT SHIPPING";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<img src="~/images/img3.jpg" alt="Ocean Freight" />
<p>
    In today’s demanding economy and business environment, commissioning the services of an experienced logistics company is crucial to your business. LowFreightRate.ca has been one of the market leaders in the shipping and ocean freight space and offers a wide range of shipping services for FCL (full container load) or LCL (less than container load) ocean exports to all major ports around the globe.

    Owing to our wealth of expertise, global partner network and growing affiliation with established ocean carriers, we are able to negotiate long term agreements resulting in the best prices in the industry and unmatched schedule flexibility. Whether it’s LCL or FCL, we can provide ocean carriage to meet our your diverse needs and handle any weight.

    With several options ranging from LCL and FCL ocean freight shipping and perennial relationships with our global ocean freight carriers, LowFreightRate.ca helps get your freight where it needs to be efficiently, cost effectively and safely. We not only overlook the entire movement process of your product from origin to destination, but also handle customs clearance, document preparation, status updates, reporting and tariff classifications.

    If you’re interested in shipping overseas, get in touch with one of our ocean freight professionals and we’ll get it to its destination whether it’s door to door, port to port, door to port or port to door, LowFreightRate.ca can make the arrangements that are most convenient for your business.
   
</p>

<p>
    <a class="btn btn-default" href="~/Quote">
        Request a Quote
    </a>
</p>